body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    
    background-size: cover;
}

p{
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
nav{
    margin-right: auto;
    align-items: center;
    color: whitesmoke;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Items will be aligned to the left */
    color: white;
    align-items: center;
}

.navContent{
    color: #999;
}

nav ul li {
    position: relative right;
    margin-right: 20px;

}
nav ul li.nav-link {
    margin-top: 5px;
}

nav ul li.login {
    margin-left: auto; /* Added this line */
    padding-right: 10px;
}

nav ul li a {
    color:#999;
    text-decoration: none;
    margin-top: 50px;
    padding-top: 30px;
    padding: 5px 10px;
    border-radius: 5px;

}

nav ul li a:hover {
    color: #000000;
    font-size: larger;
}

.header-container{
    text-align: right;
    background-color: #ffffff;
    border: 1px solid;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /*Make sure it is above the rest of the content*/
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main-content{
    background-color: #f0f2ff;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.content {
    display: block;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 120px; /* Adjust this value to ensure the content is not hidden behind the fixed header */
    padding: 20px;
}

.start-button {
    position: absolute;
    text-align: center;
    padding: 15px 30px;
    font-size: 1.5rem;
    color: black;
    background-color: whitesmoke;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.start-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333;
    margin: 20px 0;
    line-height: 1.2;
}

ul{
    list-style-type: disc;
    font-size: 1rem;
}

ul li{
    margin-bottom: 10px;
    font-size: 1rem;
}

.day-out{
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 2px #666161;
    margin: 2em;
    transition: border-radius 0.2s, transform 0.3s;
}

.day-out:hover{
    background-color: black;
    border-radius: 45px;
    transform: scale(1.0005);
}